/* line 8, ../sass/news.scss */
.middle select {
  width: 92.1052631579%;
  float: left;
  margin-right: 5.2631578947%;
  margin-left: 3.5%;
  margin-right: 3.5%;
  margin-top: 18px;
  margin-bottom: 18px;
  height: 22px;
  line-height: 22px;
  color: #000;
  border: 1px solid #bfbfbf;
  text-align: center;
}
@media (min-width: 960px) {
  /* line 8, ../sass/news.scss */
  .middle select {
    width: 37.2549019608%;
    float: right;
    margin-right: 0%;
    margin-top: 3px;
    margin-bottom: 30px;
  }
}
/* line 28, ../sass/news.scss */
.middle .ma_box {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 960px) {
  /* line 28, ../sass/news.scss */
  .middle .ma_box {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 37, ../sass/news.scss */
.middle .made {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 122px;
  padding-top: 10px;
  padding-left: 11px;
  padding-right: 11px;
}
@media (min-width: 960px) {
  /* line 37, ../sass/news.scss */
  .middle .made {
    width: 50%;
    float: left;
  }
}
/* line 50, ../sass/news.scss */
.middle .gra {
  background: #4c4c4c;
  color: #fff;
}
/* line 55, ../sass/news.scss */
.middle .grb {
  background: #fff;
  color: #000;
}
/* line 60, ../sass/news.scss */
.middle .grc {
  background: #4c4c4c;
  color: #fff;
}
@media (min-width: 960px) {
  /* line 60, ../sass/news.scss */
  .middle .grc {
    background: #fff;
    color: #000;
  }
}
/* line 71, ../sass/news.scss */
.middle .grd {
  background: #fff;
  color: #000;
}
@media (min-width: 960px) {
  /* line 71, ../sass/news.scss */
  .middle .grd {
    background: #4c4c4c;
    color: #fff;
  }
}
/* line 82, ../sass/news.scss */
.middle .mad_img {
  width: 34.2105263158%;
  float: left;
  margin-right: 5.2631578947%;
  width: 104px;
  height: 104px;
  margin-right: 27px;
}
@media (min-width: 960px) {
  /* line 82, ../sass/news.scss */
  .middle .mad_img {
    width: 30%;
    float: left;
  }
}
/* line 94, ../sass/news.scss */
.middle .mad_text {
  width: 56%;
  float: left;
  margin-right: 5.2631578947%;
  height: 100%;
  line-height: 16px;
}
@media (min-width: 960px) {
  /* line 94, ../sass/news.scss */
  .middle .mad_text {
    width: 62%;
    float: left;
  }
}
/* line 106, ../sass/news.scss */
.middle .font_s {
  font-size: 12px;
}
